@model  Supinfy.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "_AuthLayout";
}

<h2>Register</h2>

<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6 text-center">
        @using (Html.BeginForm("Register", "Auth", FormMethod.Post))
        {
            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
            <br />
            @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First name" } })
            <br />
            @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last name" } })
            <br />
            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
            <br />
            <input type="submit" class="btn btn-primary btn-block" value="Register" />
        }
    </div>
</div>

<hr style="width: 600px;"/>

<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6 text-center">
        <h4>Already have an account ?</h4>

        <a class="btn btn-primary btn-block" href="@Url.Action("Login")">Log in</a>
    </div>
</div>